{% extends "employee/base.html" %}


{% block body %}

<h1>Add employee </h1>

<form method="post" >
    {% csrf_token %}
      <label for="first_name" class="form-label">First Name</label>
      <input type="text"  id="first_name" value="first_name"><br>

      <label for="last_name" class="form-label">last Name</label>
      <input type="text"  id="last_name" value="last_name" ><br>

      <label for="dept" class="form-label">Department</label>
      <input type="text"  id="first_name" value="dept" ><br>

      <label for="salary" class="form-label">Salary</label>
      <input type="number"  id="dept" value="salary" ><br>

      <label for="email" class="form-label">Email</label>
      <input type="email"  id="email" value="email" ><br>

      <label for="role" class="form-label">Role</label>
      <input type="text"  id="role"  value="role"><br>

      <label for="phone" class="form-label">phone</label>
      <input type="number"  id="first_name" value="phone" ><br>

      <label for="hire_date" class="form-label">Hire Date</label>
      <input type="datetime"  id="phone" value="hire_date" ><br>

      <label for="assign" class="form-label">Accesseries</label>
      <input type="text"  id="assign" value="assign" ><br>
    

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endblock %}